.app-footer-chino {
  width: 100%;
  height: 64px;
  justify-content: center;
  box-shadow: 0 -2px 10px #dedef0;
}

.app-footer-chino p {
  color: #4671bb;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}
