body {
  margin: 0;
  padding: 0;
  user-select: none;
  color: #4671bb;
  font-weight: 500;
  font-family: "IBMPlexSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Webkit浏览器滚动条样式 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox滚动条样式 */
* {
  scrollbar-width: none;
}
